
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

form input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-left:16px;
    transition: 0.3s ease-in-out;
}
form button:hover{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

ul {
    height: auto;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

ul li input {
    margin-right: 0.5rem;
}

ul li label {
    flex: 1;
}

ul li button {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#search-todo {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

@media (max-width: 317px) {
    form{
        flex-direction: column;
    }
    form button{
        margin:0;
        margin-top: 10px;
    }
    form input {
        margin: auto;
    }
    #search-todo{
        margin: 0 10px 10px 10px;
    }
}